    * {
        font-family: 'Cutive Mono', monospace;
        color: white;
        letter-spacing: 8px;
        padding: 0px;
        margin: 0;
    }
    
    html {
        box-sizing: border-box;
        background-image: url(/assets/background-gif.gif);
    }
    
     :root {
        --clr-text: white;
        --clr-primary: black;
        --clr-secondary: #6200ff;
        --title-font: 'Major Mono Display', monospace;
    }
    
    a {
        text-decoration: none;
        font-family: var(--title-font);
        color: var(--clr-secondary);
    }

    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding: 1px;
      }

    .nav_div{
        width: 100%;
        text-align: center;
        align-items: center;
        padding: 2rem;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 800px;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 13px;
    }

    .logo{
        font-size: 50px;
        margin-top: 50px;
    }
    
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
    }
    
    header h1 {
        align-self: center;
        font-family: var(--title-font);
        margin-bottom: 2rem;
        font-size: 20px;
        animation: blink 5s linear infinite;
    }
    
    nav ul {
        padding: 2em;
        border: 1px solid rgb(109, 109, 109);
        background-color: rgba(0, 0, 0, 0.548);
        list-style-type: none;
        justify-content: space-evenly;
    }
    
    header ul li {
        text-decoration: none;
        font-size: 2rem;
    }

    marquee{
        position: fixed;
        top: 0;
    }
    
    nav {
        align-self: center;
        justify-content: space-evenly;
    }

    #navline {
        font-size: 13px;
        letter-spacing: 8px;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
      }
    
    main {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
    }
    
    section {
        padding: 2rem;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid rgb(119, 119, 119);
        background-color: rgba(0, 0, 0, 0.548);
        -webkit-box-shadow: 0px 0px 90px 1px rgba(63, 0, 179, 0.85);
        -moz-box-shadow: 0px 0px 90px 1px rgba(63, 0, 179, 0.85);
        box-shadow: 0px 0px 90px 1px rgba(63, 0, 179, 0.85);
        width: 800px;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 13px;
    }
    section img {
        width: 200px;
        align-self: center;
        padding: 5px;
    }
    
    section h2 {
        text-align: center;
        font-size: 2rem;
        animation: blink 5s linear infinite;
    }

    .entrance_div {
        justify-items: center;
        height: 109%;
        text-align: center;

    }
    
    .entrance_bttn {
        position: absolute;
        top: 40%;
        left: 50%;
        margin: auto;
    }

    .door{
        height: 1000px;
        margin: auto;
    }


    /* special effefcts*/

    @keyframes blink {
        50% {
            text-shadow: 6px 6px 6px  #6200ff;
        }
    }





    /* For mobile phones: */

    @media only screen and (max-width: 768px) {
        .door{
            height: 500px;
            margin: auto;
            padding-top: 100px;
        }

        section {
            margin-left: 0px;
            margin-right: 0px;
            width: 100%;
            padding: 0px;
        }
        .nav_div {
            margin-left: 2px;
            margin-right: 2px;
            width: 100%;
            padding: 0px;
        }

    }
